@import '../../../../sass/_variable.scss';
.CourseItem{
    display: block;
    width: 100%;
    margin-bottom: 5rem;
}
.CourseItem_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem;
    background-color: $blackColor;
    border-radius: 0.6rem;
}
.CourseItem_search{
    height: 3rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: $bgColor;
    margin: 2rem 0;
    .CourseItem_search_input{
        outline: none;
        border: none;
        width: 300px;
        height: inherit;
        background-color: unset;
        padding-right: 0.3rem;
        font-size: 0.9rem;
        font-weight: 600;
        color: $whiteColor;
    }
    .CourseItem_search_btn{
        outline: none;
        border: none;
        background-color: $blueColor2;
        width: 100px;
        height: inherit;
        font-size: 1.1rem;
        color: $whiteColor;
        transition: all 0.4s ease-in;
        &:hover{
            background-color: $blueColor3;
        }
    }
}
.CourseItem_menu{
    display: block;
    margin: 2rem 0;
    width: 300px;
    height: 3rem;
    outline: none;
    border: none;
    border-radius: 0.6rem;
    background-color: $bgColor;
    font-size: 1.1rem;
    color: $whiteColor;
}
