@mixin buttonRed {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 3rem;
    text-decoration: none;
    background-color: $redColor1;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    color: $redColor2;
    transition: all 0.4s ease-in;
    &:hover{
        color: $whiteColor;
        background-color: $redColor3;
    }
}


@mixin bgBlack {
    background-color: $blackColor;
    padding: 1.5rem 1rem;
    border-radius: 0.6rem;
    margin-bottom: 1rem;
}


@mixin titlePanel {
    font-family: iranBold;
    font-size: 1.7rem;
    color: $whiteColor;
    margin-bottom: 1rem;
}

@mixin bgColor {
    display: block;
    padding: 0.8rem ;
    width: 100%;
    background-color: $bgColor;
    border-radius: 0.5rem;
}