$bgColor : #222529;
$blackColor: #1B1E21;
$textColor: #B4B6BB;
$blueColor1: #202C39;
$blueColor2: #0867C1;
$blueColor3: #17A2B8;
$whiteColor: #ffffff;
$yellowColor1: #423C2A;
$yellowColor2:#F7C32E;
$purpleColor1: #2A2839;
$purpleColor2: #6F42C1;
$greenColor1: #213238;
$greenColor2: #192E2C;
$greenColor3: #118664;
$redColor1: #35252B;
$redColor2: #932835;
$redColor3: #D6293E;

