@import '../../../sass/_mixin.scss';
@import '../../../sass/_variable.scss';

.studentCourse{
    display: block;
    width: 100%;
    background-color: $bgColor;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    .studentCourse_img{
        width: 100%;
    }
    .studentCourse_name{
        display: block;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 700;
        color: $whiteColor;
    }
    .studentCourse_link{
        @include buttonBlue;
        width: 120px;
        margin: 1rem;
    }
}