@import '../../../../sass/_variable.scss';
@import '../../../../sass/_mixin.scss';
.teacherIncome{
    display: block;
    width: 100%;
    @include bgBlack
}
.teacherIncome_item{
    display: block;
    text-align: center;
    background-color: $bgColor;
    padding: 2rem 0;
    border-radius: 0.6rem;
    .teacherIncome_item_text{
        font-size: 1.1rem;
        font-weight: 700;
    }
    .teacherIncome_item_number{
        display: block;
        margin-top: 0.6rem;
        font-family: iranBlack;
        font-size: 1.7rem;
        color: $whiteColor;
    }
}

.teacherIncome_chart{
    display: block;
    width: 100%;
}
.teacherIncome_chart_title{
    font-family: iranBold;
    color: $whiteColor;
}