@import '../../../sass/_variable.scss';

.title{
    display: block;
    width: 100%;
    text-align: center;
}
.title_text{
    font-family: iranBold;
    font-size: 1.8rem;
    color: $whiteColor;
}
.title_desc{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}